<!doctype html>
<html>
<%- include('partials/head'); -%>
<body>
<%- include('partials/header'); -%>
<div class="container">
  <div class="jumbotron text-center">
    <h1>View all Posts</h1>
  </div>
  <h3> Current News </h3>
  <% for(var i=0; i < news.length; i++) { %>
    <div class="row">
      <h5><%= news[i].title %></h5>
    </div>
  <% } %>
  <h3> User Posts </h3>
  <% for(var i=0; i < posts.length; i++) { %>
    <div class="row">
      <h5><%= posts[i].title %></h5>
    </div>
  <% } %>
</div>

</body>
</html>
