<!doctype html>
<html>
<%- include('partials/head'); -%>
<body>
<%- include('partials/header'); -%>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Login</h1>
  </div>
  <form method="post" action="/login">
    Username: <input type="email" name="user[email]"></input>
    <br>
    Password: <input type="password" name="user[password]"></input>
    <br>
    <input type="submit"></input>
  </form>

  <div class="jumbotron text-center">
    <h1>Register</h1>
  </div>
  <form action="/register" method="post">
    Name: <input type="text" name="user[name]"></input>
    <br>
    Username: <input type="email" name="user[email]"></input>
    <br>
    Password: <input type="password" name="user[password]"></input>
    <br>
    Confirm Password: <input type="password" name="user[confirm_pwd]"></input>
    <br>
    <input type="submit"></input>
  </form>
</div>

</body>
</html>
