<!doctype html>
<html>
<%- include('partials/head'); -%>
<body>
<%- include('partials/header'); -%>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Profile Page</h1>
    <!-- <% if (user) { %>
        <h3> Hello, <%= user.name %></h3>
    <% } %> -->
  </div>
  <h3> Make a post </h3>
  <form method="post" action="/post">
    Title: <input type="text" name="user[title]"></input>
    <br>
    <!-- Body: <input type="text" name="user[body]"></input> -->
    <br>
    <input type="submit"></input>
  </form>
</div>

</body>
</html>