<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Goldberg Machine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-auto">
        <% if (user) { %>
          <a href="/profile" class="nav-link">Profile</a>
          <li class="nav-item mr-auto"> <a href="/logout" class="nav-link">Logout</a> </li>
        <% } else { %>
          <a href="/login" class="nav-link">Login</a>
        <% } %>
      </li>


    </ul>



  </div>
</nav>
